@inherits LayoutComponentBase
<div class="d-flex flex-column min-vh-100 bg-dark text-white">
    <NavMenu />
    <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
        @Body
    </div>
</div>